body {
  background-image: url(../img/hero-with-stethoscope.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Стили для логотипу */
.logo {
  border-radius: 4px;
  font-size: 25px;
  color: red;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: anton;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.5px;
}

/* Стилі для заголовку */
header {
  box-sizing: border-box;
  padding: 5px 50px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стилі для кнопок користувача */

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions button {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
  border-radius: 5%;
  border: none;
  padding: 10px 35px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.user-actions button:hover {
  background-color: hwb(195 54% 15%);
  color: #fff;
}

.createVisitButton {
  display: none;
}

.logoutButton {
  display: none;
}

.main {
  font-family: "Roboto", sans-serif;
}

/* Стилі для фильтрів */
.filter-form {
  margin: 40px;
  gap: 20px;
  color: #000;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-align: end;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: none;
}

input {
  padding: 8px;
  border-radius: 4px;
}

.start-text {
  margin: 40px 0px 40px 70px;
  font-size: 20px;
  color: #000;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

/* Стилі для модальних вікон */
.modal {
  width: 600px;
  height: 100%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#loginModal {
  height: 400px;
}

.modal-content {
  border: none;
}

/* Стилі для кнопок в модальних вікнах */
.modal-buttons-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 25px;
}
.modal button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

/* Стили для полів в модальних вікнах */

.modal label,
.modal input,
.modal select {
  display: block;
  margin-bottom: 15px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.text-input {
  margin-bottom: 20px;
}

.modal-buttons {
  margin-top: 25px;
  margin-bottom: 15px;
}

#submitLoginForm {
  margin-right: 20px;
}

/* Стилі для списку візитів */
.visit-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.visit-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-visit {
  cursor: pointer;
  color: red;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  float: right;
}

/* Стилі для кнопки визиту */
.delete-visit-button {
  background-color: #ff3b30;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

/* Стилі для карток */
.accordion {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 50px;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.accordion-body {
  padding: 10px;
}

.accordion-button {
  background: none;
  border: none;
  text-align: left;
  width: 100%;
}

.info-button,
.edit-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-visit {
  display: block;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
}
